.feedback {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.btn-container {
  display: flex;
  gap: 1rem;
}

.btn {
  background-color: blueviolet;
  border-radius: 7px;
  color: whitesmoke;
  cursor: pointer;
  font-size: 11px;
  margin: 0 0 0.5rem;
  padding: 0.3rem 0.5rem;
}
