@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap') ;

body {
  color: #023047;
  margin: 0;
  padding: 0;
}

.page {
  align-content: center;
  align-items: center;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.conteiner {
  background-color: whitesmoke;
  border-radius: 7px;
  box-shadow: 10px 10px 40px rgba (0 , 0 , 0 , 0.4);
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  padding: 40px;
}

.infos {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.game-name {
  color: whitesmoke;
  font-style: normal;
}

h1 {
  font-size: 2.3em;
  font-style: italic;
  font-weight: 700;
  text-align: center;
}

.input-player-name {
  border-radius: 7px;
  display: block;
  font-family: '"Inter' , sans-serif;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.input-login {
  border: blueviolet solid 1px;
  border-radius: 7px;
  color: #023047;
  display: block;
  font-family: '"Inter' , sans-serif;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 300px;
}

.btn {
  background-color: lightblue;
  border: blueviolet solid 1px;
  border-radius: 7px;
  color: #023047;
  cursor: pointer;
  display: block;
  font-family: '"Inter' , sans-serif;
  height: 30px;
  padding: 7px 0;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.btn:hover {
  background-color: blueviolet;
  color: lightblue;
  cursor: pointer;
}

.btn-play {
  background-color: #023047;
  border: #023047 solid 1px;
  border-radius: 7px;
  color: lightblue;
  cursor: pointer;
  display: block;
  font-family: '"Inter' , sans-serif;
  height: 30px;
  padding: 7px 0;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.btn-play:disabled {
  cursor: not-allowed;
  opacity: 50%;
}

.btn-play:active {
  letter-spacing: 4px;
  transition: all 0.3s ease-in-out;
}
