.ranking-container {
  align-items: center;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  width: 100%;
}

.info {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  padding: 0.1rem 1.5rem;
}

.go-home-btn {
  background-color: lightblue;
  border: blueviolet solid 1px;
  border-radius: 7px;
  color: #023047;
  cursor: pointer;
  display: block;
  height: 30px;
  padding: 7px 0;
  transition: all 0.5s ease-in-out;
  width: 10rem;
}

.go-home-btn:hover {
  background-color: #023047;
  border-color: #023047;
  box-shadow: 1px 1px 200px #023047;
  color: whitesmoke;
  letter-spacing: 4px;
}
