.header-container {
  align-items: center;
  background-color: blueviolet;
  border-bottom: whitesmoke 1px solid;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  max-height: 3rem;
  padding: 1rem;
  width: 100%;
}

p {
  text-align: center;
}

.name {
  font-size: 1.1rem;
}

.score {
  font-size: 1.5rem;
}

.header-profile-img {
  width: 5%;
}
