.question-card-container {
  align-items: center;
  color: #023047;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.infos {
  border-bottom: blueviolet 1px solid;
  border-radius: 7px;
  justify-content: space-evenly;
  padding: 0.1rem 3rem;
  width: 100%;
}

p {
  color: #023047;
  font-size: smaller;
}

.infos p {
  color: blueviolet;
}

.card {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  overflow: hidden;
  padding: 0.1rem 1.5rem;
}

.correct {
  border: 3px solid rgb(6, 240, 15);
}

.incorrect {
  border: 3px solid red;
}

.category {
  font-size: 0.9rem;
}

.question {
  font-size: 1.5rem;
}

.type {
  font-size: 0.9rem;
}

.answers {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  padding: 7px;
  width: 100%;
}

.answers button {
  background-color: blueviolet;
  border-radius: 7px;
  color: whitesmoke;
  cursor: pointer;
  font-size: 11px;
  margin: 0 0 0.5rem;
  padding: 0.3rem 0.5rem;
  width: 50%;
}

.answers button:hover {
  background-color: #023047;
}

.answers button:disabled {
  background-color: blueviolet;
  opacity: 50%;
}

